@font-face {
  font-display: swap;
  font-family: 'Monda';
  src: local('Monda Regular'), local('Monda-Regular'), url(Monda.woff2) format('woff2');
}

:root {
  --primaryColor: #fb0;
  --menuColor: #666;
  --minorColor: #999;
  --ignoredColor: #bbb;
  --lineColor: #ddd;
  --placeholderColor: #eee;
  --bgColor: #f6f6f6;
  --fontFamily: Monda;
}

.SUCCESS {
  color: #1db164;
}

.SKIPPED, .WARNING {
  color: #ff8500;
}

.FAILED {
  color: #fa5151;
}

.FINISHED {
  color: #007bff;
}

.MINOR {
  color: var(--minorColor);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bgColor);
}

main {
  flex: 1;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
}

header > main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

footer > main {
  padding-top: 20px;
  padding-bottom: 10px;
}

footer img {
  height: 32px;
  filter: grayscale(100%) brightness(115%);
}

label {
  cursor: pointer;
}

a {
  color: inherit;
}

h3 {
  margin: 0;
}

h4 {
  font-size: 20px;
}

section {
  margin: 20px 0;
}

section .tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px 40px;
}

section .tags > a {
  margin-right: 20px;
}

section h4 {
  padding-left: 15px;
  line-height: 1;
  border-left: var(--primaryColor) 3px solid;
}

input[type="file"] {
  display: none;
}

video {
  display: block;
  outline: 0;
  width: 100%;
  aspect-ratio: 16/9;
  margin-top: 15px;
  border-radius: var(--borderRadius);
  background: #000;
  cursor: pointer;
}

table.list tr {
  background: #fff;
}

table.list th {
  text-align: left;
  background: var(--placeholderColor);
}

tr.metadata a {
  color: #2296b0;
}

tr.metadata:hover {
  cursor: pointer;
  background: #f9f9f9;
  transition: .3s all;
}

.metafields {
  display: flex;
  flex-wrap: wrap;
}

.metafields > * {
  margin-right: 10px;
}

.pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--minorColor);
  margin-top: 15px;
}

.pager a, .pager span {
  margin: 0 5px;
}

.pager a.active {
  color: var(--primaryColor);
}

.pager b {
  margin: 0;
  font-weight: 400;
  color: var(--primaryColor);
}

.pager .noresult {
  flex: 1;
  text-align: center;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headline h3 {
  padding-left: 15px;
  line-height: 1;
  border-left: var(--primaryColor) 3px solid;
}

.thread h3 {
  line-height: 1.4;
}

th-button::part(button) {
  color: var(--fontColor);
}

.buttons th-button:not(:first-child) {
  margin-left: 10px;
}

.metadata-editor {
  display: flex;
  align-items: start;
  width: 750px
}

.metadata-editor .uploader {
  position: relative;
  width: 160px;
  height: 90px;
}

.metadata-editor .uploader > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--borderRadius);
  background-color: #c99d9d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metadata-editor .media-info {
  margin-top: 20px;
  font-size: 13px;
  color: var(--minorColor);
}

.metadata-editor .media-info b {
  display: block;
  margin: 5px 0;
}

.metadata-editor .fields {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-left: 10px;
}

.metadata-editor .fields > * {
  margin: 0 0 10px 10px;
  width: 280px;
}

.metadata-editor .fields > .exclusive {
  width: 100%;
}

header {
  height: 70px;
  font-size: 1.2rem;
  color: var(--placeholderColor);
  background: var(--fontColor);
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 26px;
}

.search-bar {
  flex: 1;
  margin: 0 15px 0 30px;
}

.search-text {
  outline: none;
  background: #444;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  border: 0;
  border-radius: var(--borderRadius);
  padding: 5px 10px;
  transition: all .3s;
}

.search-text:focus {
  background: #555;
}

nav {
  display: flex;
  align-items: center;
}

menu {
  position: relative;
  padding: 0;
  margin: 0 0 0 20px;
}

menu > a {
  display: flex;
  align-items: center;
  line-height: 48px;
}

menu > a:hover {
  text-decoration: none;
}

menu > a > span {
  margin-left: 7px;
}

menu > div {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  right: 0;
  padding: 8px 0;
  background: #fff;
  white-space: nowrap;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

menu:hover > div {
  display: flex;
}

menu .tag-item {
  padding: 3px 25px;
  font-size: 1rem;
  color: var(--menuColor);
}

footer {
  text-align: center;
  background: var(--placeholderColor);
  color: var(--minorColor);
}

footer p:first-child {
  color: var(--ignoredColor);
}

.covers {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.covers a:hover {
  text-decoration: none;
}

.covers .cover {
  display: flex;
  flex-direction: column;
  background: var(--placeholderColor);
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  cursor: pointer;
  color: inherit;
  transition: all .3s;
  margin: 10px;
  width: 220px;
  width: calc((100% - 100px) / 5);
}

.covers .cover:hover {
  opacity: 0.8;
}

.covers .cover:hover .title {
  color: var(--menuColor);
}

.covers .thumb {
  position: relative;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--placeholderColor);
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  padding-top: 66.67%;
}

.covers .thumb > .quality {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--primaryColor);
  color: #fff;
  font-size: 0.8rem;
  padding: 0 5px;
}

.covers .thumb > .duration {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.8rem;
  color: #fff;
}

.covers .caption {
  flex: 1;
  color: inherit;
  background: #fff;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  padding: 10px;
}

.covers .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.notfound {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

main.detail {
  display: flex;
}

main.detail .thread {
  flex: 2.5;
}

main.detail .metadata {
  flex: 1;
  margin-left: 30px;
  padding: 20px;
  background: #fff;
  border-radius: var(--borderRadius);
}

main.detail .prop {
  display: flex;
  margin: 8px 0;
}

main.detail .prop > label {
  width: 75px;
  font-weight: 700;
  margin-right: 15px;
  text-align: right;
  cursor: default;
}

main.detail .prop > div {
  flex: 1;
}

main.detail .tags {
  word-break: break-all;
}

main.detail .tags a {
  margin-right: 10px;
}

.footnote {
  display: flex;
  font-size: 0.85rem;
  color: var(--ignoredColor);
}

.footnote > * {
  margin-right: 10px;
}

.footnote > *.right {
  flex: 1;
  margin: 0;
  text-align: right;
}

.front-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px 45px;
  height: 100%;
  border-radius: var(--borderRadius);
  background: #fff;
  box-shadow: 0 3px 30px 0 rgb(0 0 0 / 20%);
}

.front-panel.preference {
  padding: 10px;
  box-shadow: unset;
}

.front-panel > * {
  margin: 5px 0;
  width: 100%;
}

.front-panel th-button {
  margin-top: 20px;
}

.front-panel th-button::part(button) {
  width: 100%;
}

.front-panel h2 {
  text-align: center;
  margin: -10px 0 20px;
}

.error-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 1.2rem;
}

.error-panel h1 {
  font-weight: 700;
  font-size: 10rem;
  line-height: 1.2;
  color: var(--lineColor);
}

@media (max-width: 800px) {
  main.detail {
    flex-direction: column;
  }
  main.detail .metadata {
    margin-left: 0;
    margin-top: 20px;
  }
  .covers .cover {
    width: calc((100% - 60px) / 3);
  }
  .thread .thumb {
    width: calc((100% - 40px) / 4);
  }
}

@media (max-width: 640px) {
  nav {
    display: none;
  }
  main {
    padding: 20px;
  }
  .covers .cover {
    width: calc((100% - 40px) / 2);
  }
  .thread .thumb {
    width: calc((100% - 30px) / 3);
  }
}

@media (max-width: 480px) {
  .covers .cover {
    width: 100%;
  }
  .thread .thumb {
    width: calc((100% - 20px) / 2);
  }
}