<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <script src="/assets/thyme.js"></script>
  <link rel="icon" type="image/svg" href="/assets/favicon.svg"/>
  <link rel="stylesheet" href="/assets/photowise.css"/>
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">[[${appName}]]</title>
</head>
<body>

<header>
  <main>
    <a href="/" class="logo"><img src="/assets/logo.png"/></a>
    <form action="" class="search-bar">
      <input class="search-text" type="search" maxlength="30" placeholder="搜索..."
       name="keyword" th:value="${condition?.keyword}"/>
    </form>

    <nav>
      <menu>
        <a><img src="/assets/triangle.svg"/><span>发现</span></a>
        <div><a class="tag-item" href="/starred">精选</a><a class="tag-item" href="/explore">更多</a></div>
      </menu>
      <menu th:each="metafield: ${preference.metafields}" th:if="${metafield.enums != null}">
        <a><img src="/assets/triangle.svg"/><span>[[${metafield.label}]]</span></a>
        <div><a class="tag-item" th:each="enum: ${metafield.enums}" th:href="|/?${metafield.name}=${enum.code}|">[[${enum.label}]]</a></div>
      </menu>
    </nav>
  </main>

  <script>
    function filter(field) {
      const keyword = field.value = field.value.trim();
      location.href = '?keyword=' + keyword;
    }
  </script>
</header>

<main layout:fragment="main"></main>
<footer>
  <main>
    <p><img src="/assets/logo.png"/></p>
    <p>photowise是一款轻量级开源视频媒体系统，旨在帮助人们更好地组织、管理、观看本地视频文件，并对浏览器不支持的视频格式进行自动转码输出，广泛适用于电影电视、个人视频、MV、AV等场景。photowise基于Java、FFMPEG、HLS等技术开发，没有收费许可、没有隐藏功能、没有附加条件，只为构建一个简单、便捷、高效的媒体管理平台供大众使用。欢迎任何有兴趣的人参与优化系统功能和改善用户体验。</p>
    <p>🄯 Copyleft <a target="_blank" href="https://github.com/metadream/photowise">photowise Media System</a> is Licensed <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.html">GPL 3.0</a></p>
  </main>
</footer>
</body>
</html>