<h3>Animals</h3>

<section>
  <div class="covers">
    <div>
      <a href=""><img src="/avatars/2.jpeg"/></a>
      <div class="name">张萨菲</div>
    </div><div>
      <a href=""><img src="/avatars/1.jpeg"/></a>
      <div class="name">王无缝</div>
    </div><div>
      <a href=""><img src="/avatars/3.jpeg"/></a>
      <div class="name">萨马</div>
    </div><div>
      <a href=""><img src="/avatars/2.jpeg"/></a>
      <div class="name">张萨菲</div>
    </div><div>
      <a href=""><img src="/avatars/1.jpeg"/></a>
      <div class="name">王无缝</div>
    </div><div>
      <a href=""><img src="/avatars/3.jpeg"/></a>
      <div class="name">萨马</div>
    </div><div>
      <a href=""><img src="/avatars/2.jpeg"/></a>
      <div class="name">张萨菲</div>
    </div><div>
      <a href=""><img src="/avatars/1.jpeg"/></a>
      <div class="name">王无缝</div>
    </div><div>
      <a href=""><img src="/avatars/3.jpeg"/></a>
      <div class="name">萨马</div>
    </div><div>
      <a href=""><img src="/avatars/2.jpeg"/></a>
      <div class="name">张萨菲</div>
    </div><div>
      <a href=""><img src="/avatars/1.jpeg"/></a>
      <div class="name">王无缝</div>
    </div><div>
      <a href=""><img src="/avatars/3.jpeg"/></a>
      <div class="name">萨马</div>
    </div><div>
      <a href=""><img src="/avatars/2.jpeg"/></a>
      <div class="name">张萨菲</div>
    </div><div>
      <a href=""><img src="/avatars/1.jpeg"/></a>
      <div class="name">王无缝</div>
    </div><div>
      <a href=""><img src="/avatars/3.jpeg"/></a>
      <div class="name">萨马</div>
    </div><div>
      <a href=""><img src="/avatars/2.jpeg"/></a>
      <div class="name">张萨菲</div>
    </div><div>
      <a href=""><img src="/avatars/1.jpeg"/></a>
      <div class="name">王无缝</div>
    </div><div>
      <a href=""><img src="/avatars/3.jpeg"/></a>
      <div class="name">萨马</div>
    </div><div>
      <a href=""><img src="/avatars/2.jpeg"/></a>
      <div class="name">张萨菲</div>
    </div><div>
      <a href=""><img src="/avatars/1.jpeg"/></a>
      <div class="name">王无缝</div>
    </div><div>
      <a href=""><img src="/avatars/3.jpeg"/></a>
      <div class="name">萨马</div>
    </div>
  </div>
</section>