<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

  <!-- Android Chrome -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" href="/icons/favicon.svg">

  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="apple-touch-icon-precomposed" href="/icons/favicon.svg">

  <!-- win8+ -->
  <meta name="msapplication-TileImage" content="/icons/favicon.svg">
  <meta name="msapplication-TileColor" content="default">

  <!-- Imports -->
  <!-- <script src="/assets/lazysizes@5.3.2.js" async></script> -->
  <script src="/assets/thyme@0.1.0.js"></script>
  <link rel="stylesheet" th:href="|/assets/photowise.css?${version}|"/>
  <link rel="stylesheet" href="/assets/photoswipe@5.4.4.css">
  <title>[[${title}]]</title>
</head>

<body>
  <header>
    <a href="/" class="logos">
      <img class="icon" src="/icons/favicon.svg"/>
      <img class="text" src="/icons/text.svg"/>
    </a>
    <div class="searchbar">
      <img class="tinyicon" src="/icons/search.svg"/>
      <input type="search" placeholder="Search your photos ..."/>
    </div>
    <div class="toolbar">
      <a title="Upload"><img class="icon" src="/icons/upload.svg"/></a>
      <a data-path="/timeline" title="Toggle View"><img class="icon" src="/icons/grid.svg"/></a>
      <a data-path="/library" title="Library"><img class="icon" src="/icons/library.svg"/></a>
      <a title="Settings"><img class="icon" src="/icons/setting.svg"/></a>
    </a>
  </header>

  <aside>
    <nav>
      <a data-path="/timeline"><img class="icon" src="/icons/calendar.svg"/>Timeline</a>
      <a data-path="/places"><img class="icon" src="/icons/place.svg"/>Places</a>
      <a data-path="/people"><img class="icon" src="/icons/people.svg"/>People</a>
      <a data-path="/animals"><img class="icon" src="/icons/animal.svg"/>Animals</a>
      <a data-path="/things"><img class="icon" src="/icons/things.svg"/>Things</a>
      <a data-path="/albums"><img class="icon" src="/icons/album.svg"/>Albums</a>
      <hr>
      <a data-path="/videos"><img class="icon" src="/icons/video.svg"/>Videos</a>
      <a data-path="/favorites"><img class="icon" src="/icons/star.svg"/>Favorites</a>
      <a data-path="/folders"><img class="icon" src="/icons/folder.svg"/>Folders</a>
      <a data-path="/trash"><img class="icon" src="/icons/trash.svg"/>Trash</a>
    </nav>

    <footer>
      <div class="storage">
        <div><img class="icon" src="/icons/cloud.svg"/>Storage</div>
        <div class="progress"><div style="width:80%"></div></div>
        <div>14GB of 100GB used</div>
      </div>
      <div class="copyright">&copy; 2024 Photowise</div>
    </footer>
  </aside>

  <main></main>
</body>
</html>

<script type="module">
import spa from '/assets/spa.js';
import lazyload from '/assets/lazyload.js';
spa.mount('main');
lazyload.observe('main');
</script>