<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

  <!-- Android Chrome -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" href="/icons/favicon.svg">

  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="apple-touch-icon-precomposed" href="/icons/favicon.svg">

  <!-- win8+ -->
  <meta name="msapplication-TileImage" content="/icons/favicon.svg">
  <meta name="msapplication-TileColor" content="default">

  <!-- Imports -->
  <script src="/assets/lazysizes@5.3.2.js" async></script>
  <script src="/assets/thyme@0.1.0.js"></script>
  <link rel="stylesheet" th:href="|/assets/photowise.css?${version}|"/>
  <link rel="stylesheet" href="/assets/photoswipe@5.4.4.css">
  <title>[[${title}]]</title>
</head>

<body>
  <header>
    <a href="/" class="logos">
      <img class="icon" src="/icons/favicon.svg"/>
      <svg class="logo"><use xlink:href="/icons/icons.svg#logo"></use></svg>
    </a>
    <div class="searchbar">
      <svg class="icon tiny"><use xlink:href="/icons/icons.svg#search"></use></svg>
      <input type="search" placeholder="搜索你的照片"/>
    </div>
    <div class="toolbar">
      <a class="round" data-path="/library" title="照片库"><svg class="icon"><use xlink:href="/icons/icons.svg#library"></use></svg></a>
      <a class="round" data-path="/settings" title="设置"><svg class="icon"><use xlink:href="/icons/icons.svg#setting"></use></svg></a>
    </div>
  </header>

  <aside>
    <nav>
      <a data-path="/photos"><svg class="icon"><use xlink:href="/icons/icons.svg#photo"></use></svg>照片</a>
      <a data-path="/videos"><svg class="icon"><use xlink:href="/icons/icons.svg#video"></use></svg>视频</a>
      <a data-path="/map"><svg class="icon"><use xlink:href="/icons/icons.svg#map"></use></svg>地图</a>
      <hr>
      <a data-path="/places"><svg class="icon"><use xlink:href="/icons/icons.svg#location"></use></svg>地点</a>
      <a data-path="/people"><svg class="icon"><use xlink:href="/icons/icons.svg#people"></use></svg>人物</a>
      <a data-path="/animals"><svg class="icon"><use xlink:href="/icons/icons.svg#animal"></use></svg>动物</a>
      <a data-path="/things"><svg class="icon"><use xlink:href="/icons/icons.svg#things"></use></svg>事物</a>
      <a data-path="/albums"><svg class="icon"><use xlink:href="/icons/icons.svg#album"></use></svg>影集</a>
      <hr>
      <a data-path="/favorites"><svg class="icon"><use xlink:href="/icons/icons.svg#favor"></use></svg>收藏夹</a>
      <a data-path="/trash"><svg class="icon"><use xlink:href="/icons/icons.svg#trash"></use></svg>回收站</a>
    </nav>

    <footer>
      <div class="storage">
        <div><svg class="icon"><use xlink:href="/icons/icons.svg#cloud"></use></svg>存储空间</div>
        <div class="progress"><div th:style="|width:${spaceInfo.percent}%|"></div></div>
        <div>[[${spaceInfo.usedSpace}]] / [[${spaceInfo.totalSpace}]]</div>
      </div>
      <div class="copyright">&copy; 2024 Photowise</div>
    </footer>
  </aside>

  <main></main>
</body>
</html>

<script>

</script>

<script type="module">
import spa from '/assets/spa.js';
spa.mount('main');
</script>