<h3>Library</h3>

<section>
  <div class="progress" id="scan-progress"><div th:style="|width:${scanningProgress}%|"></div></div>
  <div class="footnote">点击下方按钮开始扫描...</div>
  <p>
    <th-checkbox>完全扫描</th-checkbox>
    <th-checkbox>清理无效索引</th-checkbox>
  </p>
  <p class="button-group">
    <th-button onclick="scanLibrary()" id="scan-btn" th:disabled="${scanningProgress > -1}">
        [[${scanningProgress > -1 ? '正在扫描' : '开始扫描'}]]
    </th-button>
    <th-button variant="outlined">取消扫描</th-button>
    <th-button variant="outlined minor" onclick="clearLogs(this)" th:if="${scanningLogs.size>0}">清空日志</th-button>
  </p>
</section>

<section id="logs">
  <div th:each="log: ${scanningLogs}">
    <span>[[${'['+#dates.format(log.time, 'yyyy-MM-dd HH:mm:ss')+']'}]]&#160;</span>
    <span>([[${log.count}]]/[[${log.total}]])&#160;</span>
    <span th:class="${log.level}">[[${log.level}]]&#160;</span>
    <span>[[${log.path}]]&#160;</span>
    <span class="footnote">[[${log.message}]]</span>;
  </div>
</section>

<script type="module">
import spa from '/assets/spa.js';

const $message = document.querySelector('.footnote');
const $logs = document.querySelector('#logs');
const $scanBtn = document.querySelector('#scan-btn');
const $progress = document.querySelector('#scan-progress>div');

const channel = new Thyme.Channel('/channel/library');
channel.on('message', data => render(data));
spa.onPageUnload = () => channel.close();

window.scanLibrary = function() {
  Thyme.confirm('扫描照片库可能会耗费很长时间，确定继续吗？', async (cfm) => {
    cfm.hide();
    $scanBtn.disabled = true;
    $scanBtn.innerHTML = '正在扫描';
    Thyme.http.post('/library');
  });
}

window.clearLogs = function(btn) {
  Thyme.confirm('确定清空所有日志吗？', () => {
    btn.loading = true;
    Thyme.http.delete('/library/logs').then(() => {
      btn.loading = false;
      btn.remove();
      $logs.innerHTML = '';
    });
  });
}

function render(log) {
  const count = log.count;
  const total = log.total;
  const level = log.level.name;

  const html = `
    <span>(${count}/${total})&#160;</span>
    <span class="${level}">${level}&#160;</span>
    <span>${log.path || ''}&#160;</span>
    <span class="footnote">${log.message || ''}</span>`;
  $progress.style.width = log.progress + '%';
  $message.innerHTML = html;

  if (level != 'INFO') {
    const time = Thyme.util.formatDate(new Date(log.time), 'yyyy-MM-dd hh:mm:ss');
    const $log = Thyme.util.createElement(`<div>[${time}]&#160;${html}</div>`);
    $logs.insertBefore($log, $logs.firstChild);

    if (level == 'FINISHED') {
      $scanBtn.disabled = false;
      $scanBtn.innerHTML = '开始扫描';
    }
  }
}
</script>