<h3>Library</h3>

<section>
  <div class="progress" id="scan-progress"><div th:style="|width:${scanningProgress}%|"></div></div>
  <div class="footnote">点击下方按钮开始扫描...</div>
  <p>
    <th-checkbox>完全扫描</th-checkbox>
    <th-checkbox>清理无效索引</th-checkbox>
  </p>
  <p class="button-group">
    <th-button onclick="scanLibrary()" id="scan-btn" th:disabled="${scanningProgress > -1}">
        [[${scanningProgress > -1 ? '正在扫描' : '开始扫描'}]]
    </th-button>
    <th-button variant="outlined">取消扫描</th-button>
  </p>
</section>

<section id="logs"></section>
<script>
const $message = document.querySelector('.footnote');
const $logs = document.querySelector('#logs');
const $scanBtn = document.querySelector('#scan-btn');
const $progress = document.querySelector('#scan-progress>div');

const channel = Channel.subscribe('library');
channel.on('message', data => render(data));

const $main = document.querySelector('main');
$main.addEventListener("unload", (event) => {
    channel.close();
});

function scanLibrary() {
  Thyme.confirm('扫描照片库可能会耗费很长时间，确定继续吗？', async (cfm) => {
    cfm.hide(); 
    $scanBtn.disabled = true;
    $scanBtn.innerHTML = '正在扫描';
    Thyme.http.post('/library');
  });
}

function render(log) {
  const count = log.count;
  const total = log.total;
  const level = log.level.name;
  let message = log.path;
  if (!message) {
      message = log.message;
      log.message = null;
  }
  
  const html = `(${count}/${total})　<span class="${level}">${level}</span>　${message}`;
  $progress.style.width = log.progress + '%';
  $message.innerHTML = html;

  if (level != 'INFO') {
    const time = Thyme.util.formatDate(new Date(log.time), 'yyyy-MM-dd hh:mm:ss');
    const $log = Thyme.util.createElement(`<div>[${time}]　${html}</div>`);
    $logs.append($log);

    if (log.message) {
        const $error = Thyme.util.createElement(`<span class="footnote">　${log.message}</span>`);
        $log.append($error);
    }
    if (level == 'FINISHED') {
      $scanBtn.disabled = false;
      $scanBtn.innerHTML = '开始扫描';
    }
  }
}
</script>