<section class="central-panel">
  <div>
    <p><th-field label="账号" name="username" required></th-field></p>
    <p><th-field label="密码" type="password" name="password" required></th-field></p>

    <br><th-button onclick="login(this)">登录</th-button>
  </div>
</section>

<script>
function login(btn) {
  const data = Thyme.form.getJsonObject('section');
  if (!data) return;

  btn.loading = true;
  Thyme.http.post('/login', data).then(res => {
    location.href = res.hasLibrary ? '/photos' : '/settings';
  }).finally(() => {
    btn.loading = false;
  });
}
</script>