<h3>2024-03</h3>

<header class="control-bar">
  <div class="toolbar">
    <a onclick="uncheckPhotos()"><svg class="icon cross"><use xlink:href="/icons/icons.svg#cross"></use></svg></a>
    <span>选择了 <b id="totalChecked"></b> 张照片</span>
  </div>

  <div class="toolbar">
    <a title="收藏" onclick="favorite()">
      <svg id="favor-icon" class="icon"><use xlink:href="/icons/icons.svg#favor"></use></svg>
    </a>
    <a title="删除">
      <svg class="icon"><use xlink:href="/icons/icons.svg#trash"></use></svg>
    </a>
  </div>
</header>

<section>
  <div class="photo-wall">
    <a th:each="photo: ${photos}"
       th:with="width=${photo.mediaInfo.width},height=${photo.mediaInfo.height},aspectRatio=${1.0*width/height}"
       th:style="|width:${140*aspectRatio}px;flex-grow:${140*aspectRatio}|"
       th:href="|/original${photo.path}|"
       th:data-photo-id="${photo.id}"
       th:data-length="${photo.mediaInfo.length}"
       th:data-pswp-width="${width}"
       th:data-pswp-height="${height}"
       th:data-pswp-type="${photo.mediaType.name.toLowerCase()}"
       data-cropped="true">
       <input type="checkbox" name="photoIds" th:value="${photo.id}" onchange="checkPhotos()"/>
       <img th:data-src="|/thumbnail${photo.path}|" class="lazyload"/>
       <i th:style="|padding-bottom:${100*1/aspectRatio}%|"></i>
       <svg th:if="${photo.favored}" class="icon favored"><use xlink:href="/icons/icons.svg#favor"></use></svg>
    </a>
  </div>
</section>

<script type="module">
import { initPhotoSwipe } from '/assets/photowise.js';
initPhotoSwipe();

const $controlBar = document.querySelector('.control-bar');
const $favorIcon = $controlBar.querySelector('#favor-icon');
const $totalChecked = document.querySelector('#totalChecked');
const $photoWall = document.querySelector('.photo-wall');

window.checkPhotos = function() {
  const $checkedBoxes = $photoWall.querySelectorAll('[type="checkbox"]:checked');
  $checkedBoxes.length ? $controlBar.addClass('active') : $controlBar.removeClass('active');
  $totalChecked.innerText = $checkedBoxes.length;

  for (const $cb of $checkedBoxes) {
    if ($cb.parentNode.querySelector('.favored')) {
      $favorIcon.addClass('fill');
    } else {
      $favorIcon.removeClass('fill');
      break;
    }
  }
}

window.uncheckPhotos = function() {
  const $checkedBox = $photoWall.querySelectorAll('[type="checkbox"]:checked');
  $checkedBox.forEach(v => v.checked = false);
  $controlBar.removeClass('active');
}

window.favorite = function() {
  const data = Thyme.form.getJsonObject($photoWall);
  data.favored = !$favorIcon.classList.contains('fill');
  
  Thyme.http.put('/favorite', data).then(() => {
    $favorIcon.classList.toggle('fill');

    const $checkedBox = $photoWall.querySelectorAll('[type="checkbox"]:checked');
    for (const $cb of $checkedBox) {
      const $photoItem = $cb.parentNode;
      const $icon = $photoItem.querySelector('.favored');
        
      if (data.favored && !$icon) {
        $photoItem.append(Thyme.util.createElement(`<svg class="icon favored"><use xlink:href="/icons/icons.svg#favor"></use></svg>`));
      } else if (!data.favored && $icon) {
        $icon.remove();
      }
    }
  });
}
</script>