<header class="control-bar">
  <div class="toolbar">
    <a class="round" onclick="uncheckPhotos()"><svg class="icon cross"><use xlink:href="/icons/icons.svg#cross"></use></svg></a>
    <span>选择了 <b id="totalChecked"></b> 张照片</span>
  </div>

  <div class="toolbar">
    <a class="round" title="收藏" onclick="favorite()">
      <svg id="favor-icon" class="icon"><use xlink:href="/icons/icons.svg#favor"></use></svg>
    </a>
    <a class="round" title="删除" onclick="trash()">
      <svg class="icon"><use xlink:href="/icons/icons.svg#trash"></use></svg>
    </a>
  </div>
</header>

<div class="photo-groups">
  <div class="photo-group" th:each="group: ${photoGroup}">
    <h3>[[${group.key}]]</h3>
    <section>
      <div class="photo-wall">
        <a th:each="photo: ${group.value}"
           th:with="width=${photo.mediaInfo.width},height=${photo.mediaInfo.height},aspectRatio=${1.0*width/height}"
           th:style="|width:${140*aspectRatio}px;flex-grow:${140*aspectRatio}|"
           th:href="|/original${photo.path}|"
           th:data-photo-id="${photo.id}"
           th:data-pswp-width="${width}"
           th:data-pswp-height="${height}"
           th:data-pswp-type="${photo.mediaType.name.toLowerCase()}"
           data-cropped="true">
           <input type="checkbox" name="photoIds" th:value="${photo.id}" onchange="checkPhotos()"/>
           <img th:data-src="|/thumbnail${photo.path}|" class="lazyload"/>
           <i th:style="|padding-bottom:${100*1/aspectRatio}%|"></i>
           <svg th:if="${photo.favored}" class="icon favored"><use xlink:href="/icons/icons.svg#favor"></use></svg>
        </a>
      </div>
    </section>
  </div>
</div>

<template id="exif-sidebar">
  <h4>信息</h4>
  <div><input type="text" name="title" placeholder="添加标题"/></div>

  <div class="field">
    <svg class="icon"><use xlink:href="/icons/icons.svg#calendar"></use></svg>
    <div>
      <div name="photoTime"></div>
    </div>
  </div>
  <div class="field">
    <svg class="icon"><use xlink:href="/icons/icons.svg#aperture"></use></svg>
    <div>
      <div name="makeModel">Apple iPhone 12</div>
      <div class="footnote gapped">ƒ/1.6 1/785 4.2 mm ISO32</div>
      <div class="footnote gapped"><span name="apertureValue"></span></div>
    </div>
  </div>
  <div class="field">
    <svg class="icon"><use xlink:href="/icons/icons.svg#photo"></use></svg>
    <div>
      <div name="path"></div>
      <div class="footnote gapped"><span name="size"></span><span name="length"></span></div>
    </div>
  </div>
  <div class="field">
    <svg class="icon"><use xlink:href="/icons/icons.svg#place"></use></svg>
    <div>
      <div>中国新余市</div>
      <div class="footnote gapped"><span name="latilong"></span><span name="altitude"></span></div>
    </div>
  </div>
</template>

<script type="module">
import { initPhotoSwipe } from '/assets/photowise.js';
initPhotoSwipe();

const $controlBar = document.querySelector('.control-bar');
const $favorIcon = $controlBar.querySelector('#favor-icon');
const $totalChecked = document.querySelector('#totalChecked');
const $photoGroups = document.querySelector('.photo-groups');

window.checkPhotos = function() {
  const $checkedBoxes = $photoGroups.querySelectorAll('[type="checkbox"]:checked');
  $checkedBoxes.length ? $controlBar.addClass('active') : $controlBar.removeClass('active');
  $totalChecked.innerText = $checkedBoxes.length;

  for (const $cb of $checkedBoxes) {
    if ($cb.parentNode.querySelector('.favored')) {
      $favorIcon.addClass('fill');
    } else {
      $favorIcon.removeClass('fill');
      break;
    }
  }
}

window.uncheckPhotos = function() {
  const $checkedBox = $photoGroups.querySelectorAll('[type="checkbox"]:checked');
  $checkedBox.forEach(v => v.checked = false);
  $controlBar.removeClass('active');
}

window.favorite = function() {
  const data = Thyme.form.getJsonObject($photoGroups);
  data.favored = !$favorIcon.classList.contains('fill');
  
  Thyme.http.put('/favorite', data).then(() => {
    $favorIcon.classList.toggle('fill');

    const $checkedBox = $photoGroups.querySelectorAll('[type="checkbox"]:checked');
    for (const $cb of $checkedBox) {
      const $photoItem = $cb.parentNode;
      const $icon = $photoItem.querySelector('.favored');
        
      if (data.favored && !$icon) {
        $photoItem.append(Thyme.util.createElement(`<svg class="icon favored"><use xlink:href="/icons/icons.svg#favor"></use></svg>`));
      } else if (!data.favored && $icon) {
        $icon.remove();
      }
    }
  });
}

window.trash = function() {
  const data = Thyme.form.getJsonObject($photoGroups);
  Thyme.http.put('/trash', data).then(() => {
    const $checkedBox = $photoGroups.querySelectorAll('[type="checkbox"]:checked');
    for (const $cb of $checkedBox) {
      $cb.parentNode.remove();
    }
  });
}
</script>