<h3>系统设置</h3>

<section>
  <p><th-field label="照片库路径" name="library" th:value="${setting.library}" required1></th-field></p>
  <p><th-checkgroup label="访问模式" class="option-group" name="accessMode" required>
    <th-checkbox th:each="accessMode: ${accessModes}"
     th:value="${accessMode.code}" th:checked="${accessMode==setting.accessMode}">[[${accessMode.label}]]</th-checkbox>
  </th-checkgroup></p>

  <p><th-field label="管理员账号" name="adminUser" th:value="${setting.adminUser}" required></th-field></p>
  <p><th-field label="管理员密码" type="password" name="adminPass" placeholder="留空保持原密码"></th-field></p>
  <p><th-field label="访客账号" name="guestUser" th:value="${setting.guestUser}"></th-field></p>
  <p><th-field label="访客密码" type="password" name="guestPass" placeholder="留空保持原密码"></th-field></p>

  <br><th-button onclick="saveSettings(this)">保存设置</th-button>
</section>

<script type="module">
import spa from '/assets/spa.js';

window.saveSettings = function(btn) {
  const data = Thyme.form.getJsonObject('section');
  if (!data) return;

  btn.loading = true;
  Thyme.http.put('/settings', data).then(res => {
    if (res.libChanged) {
      spa.navigate('/library');
      Thyme.warn('照片库路径发生变更，请重新扫描');
    } else {
      Thyme.success('保存成功');
    }
  }).finally(() => {
    btn.loading = false;
  });
}
</script>