<h3>2024-03</h3>

<section>
  <div th:class="|photo-wall ${viewMode}|">
    <a th:each="photo: ${pagination.content}"
       th:with="width=${photo.mediaInfo.width},height=${photo.mediaInfo.height},aspectRatio=${1.0*width/height}"
       th:style="|width:${brickSize*aspectRatio}px;flex-grow:${brickSize*aspectRatio}|"
       th:href="|/original${photo.path}|"
       th:data-pswp-width="${width}"
       th:data-pswp-height="${height}"
       th:data-pswp-type="${photo.mediaInfo.mimeType.startsWith('video/')?'video':'image'}"
       data-cropped="true">
       <input type="checkbox"/>
       <img th:data-src="|/thumbnail${photo.path}|" class="lazyload"/>
       <i th:style="|padding-bottom:${100*1/aspectRatio}%|"></i>
    </a>
  </div>
</section>

<script type="module">
import { initPhotoSwipe } from '/assets/photowise.js';
initPhotoSwipe();
</script>