<h3>2024-03</h3>

<section>
  <div th:class="|photo-wall ${viewMode}|">
    <a th:each="photo: ${pagination.content}"
       th:href="|/res${photo.path}|"
       th:style="|aspect-ratio:${photo.mediaInfo.aspectRatio}|"
       th:data-pswp-width="${photo.mediaInfo.width}"
       th:data-pswp-height="${photo.mediaInfo.height}"
       data-cropped="true">
       <input type="checkbox"/><img th:src="|/res${photo.path}|"/>
    </a>
  </div>
</section>

<script type="module">
import { initPhotoSwipe } from '/assets/photowise.js';
initPhotoSwipe();
</script>